.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.row{
  display: flex;
  overflow-x: auto;
  padding: 2em 2em;
  width: stretch;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
}
.App-header {
  display: flex;
  width: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
