.paper{
    width: stretch;
    height: stretch;
    overflow-y: auto;
    background-color: #282c34;;
}
.content{
    display: flex;
    width: stretch;
    flex:1;
}
.detail{
    background-color: chartreuse;
    width: 400;
    height: 233;
}